<div class="container">
  <h4>Episood nr <%= @podcast.number %></h4>
  <hr>
  <br>
  <div class="row">
    <div class="col-5">
      <div class="custom-row">
        <strong>Pealkiri: </strong> <div class="val"> <%= @podcast.title %> </div>
        <br>
      </div>

      <div class="custom-row">
        <strong>Kirjeldus: </strong> <div class="val"> <%= @podcast.description %> </div>
        <br>
      </div>

      <div class="custom-row">
        <strong>Seda lehte on vaatatud: </strong> <div class="val"> <%= @podcast.view_count %> korda.</div>
        <br>
      </div>

      <div class="custom-row">
        <strong>Audiofail: </strong>
        <% if @podcast.recording.persisted? %>
          <div class='audio-player'>
            <%= audio_tag(@podcast.recording.url, controls: true, preload: :auto) %>
          </div>
        <% else %>
          -
        <% end %>
        <br>
      </div>
      <br>
    </div>
  </div>
  <br>
</div>
